* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: darkgrey;
  flex-basis: 100%;
}

.header {
  background-color: white;
  border: 2px solid black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-basis: 100%;
}

.container {
  flex: 1 0 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 2px solid black;
  display: flex;
}

.footer {
  background-color: white;
  border: 2px solid black;
  text-align: center;
}